<div class="new">
<h1>ユーザー新規登録</h1>
<br>
<%= form_tag users_path do %>

<% if @user.errors.any? %>
<div class="errors">
     <%= @user.errors.count %>件のエラーがあります。<br>
   </div>

       <% @user.errors.full_messages.each do |message|%>
<div class="errors">
       <%= message %><br>
     </div>
     <% end %>
<% end %><br>


<div class="form">
<span class="lebel">
<%= label_tag :name %>
</span>
<span class="text_field">
<%= text_field_tag :name,@user.name %><br>
</span>

<span class="lebel">
  <%= label_tag :userid %>
</span>
<span class="text_field">
  <%= text_field_tag :userid,@user.userid %><br>
</span>

<span class="lebel">
  <%= label_tag :password %>
</span>
<span class="text_field">
  <%= text_field_tag :password,@user.password%>
</span>

<br>
<%= submit_tag "登録",class:"square_btn " %>

<% end %>
</div>
